<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Music World</a>
        <a href="{% url 'account' %}">Ваш акаунт</a>
        <a href="{% url 'register' %}">Зареєструватися</a>
        <a href="{% url 'login' %}">Логін</a>
        <a href="{% url 'logout' %}">Вийти</a>
        <a href="{% url 'instruments-list' %}">Товари</a>
    </nav>
    {% block content %}

    {% endblock %}
</body>
</html>