{% extends 'base.html' %}
{% block content %}

    <h1>Деталі</h1>

    <img src="{{ instrument.instrument_image.url }}" alt="Інструмент" width="350" height="200">
    <div>
        <h3>Основна інформація: </h3>
        <h5>Назва: {{ instrument.name }}</h5>
        <p>Категорія: {{ instrument.get_category_display }}</p>
        <p>Виробник: {{ instrument.manufacturer }}</p>
        <p>Дата виставлення на продажу: {{ instrument.issue_date }}</p>
        <p>Ціна: {{ instrument.price }} $</p>
    </div>
    <div>
        <h3>Додаткова інформація: </h3>
        <h5>Бренд: {{ instrument.brand }}</h5>
        <p>Серійний номер: {{ instrument.serial_number }}</p>
        <p>Рік випуску: {{ instrument.production_year }}</p>
        {% if instrument.quantity > 0 %}
            <p>В наявності: {{ instrument.quantity }} шт.</p>
        {% else %}
            <p>Нема в наявності.</p>
        {% endif %}
    </div>
    <div>
        <h3>Комплектація та стан: </h3>
        <p>Стан: {{ instrument.product_condition }}</p>
        <p>Комплектація: {{ instrument.complectation }}</p>
    </div>

    {% if instrument.salesman.human_name and instrument.salesman.human_surname %}
        <h4>Продавець: {{ instrument.salesman.human_name }} {{ instrument.salesman.human_surname }}</h4>
    {% else %}
        <h4>Продавець: {{ instrument.salesman }}</h4>
    {% endif %}
    {% if user.is_authenticated and instrument.quantity > 0%}
        <a href="{% url 'edit-instrument-detail' instrument_id=instrument.id %}">Змінити опис</a>

        <a href="{% url 'delete-instrument' instrument_id=instrument.id %}">Видалити товар</a>
        <br>
        <a href="{% url 'add-to-basket' product_id=instrument.id %}">Додати в кошик</a>
    {% endif %}
{% endblock %}